<launch>
  <node name="nav_app_visualizations" pkg="navigation_application" type="navigation_visualizations"/>
  <node name="tf_change_notifier_node" pkg="tf" type="change_notifier" respawn="false">
    <rosparam param="polling_frequency">5.0</rosparam>
    <rosparam param="translational_update_distance">0.01</rosparam>
    <rosparam param="angular_update_distance">0.01</rosparam>
    <rosparam param="frame_pairs">
      - source_frame: base_link
        target_frame: map
    </rosparam>
    <remap from="tf_changes" to="robot_pose_visualization"/>
  </node>
</launch>
