<launch>
  <!--the future-->
  <rosparam file="$(find pr2_default_controllers)/r_arm_trajectory_controller.yaml" command="load" ns="r_arm_trajectory_controller"/>
  <rosparam file="$(find pr2_default_controllers)/l_arm_trajectory_controller.yaml" command="load"  ns="l_arm_trajectory_controller"/>
  <node name="arm_controller_spawner" pkg="pr2_controller_manager" type="spawner" args="l_arm_trajectory_controller r_arm_trajectory_controller" output="screen" />


  <param name="tuckarms/which_arms" value="both"/>
  <param name="tuckarms/right_arm_controller" value="r_arm_trajectory_controller"/>
  <param name="tuckarms/left_arm_controller" value="l_arm_trajectory_controller"/>
  <node name="tuckarms" pkg="safety_core" type="run_tuck_arms"/>
 
 <!-- <node name="tuckarms" pkg="pr2_tuckarm" type="tuckarm.py" args="b"/> -->
</launch>