<launch>
  <rosparam>
robot:
  type: pr2
  exchange_url: https://kforge.ros.org/pr2apps/pr2_exchange/raw-file/tip
  dashboard:
      class_name: ros.android.views.Pr2Dashboard
  </rosparam>
  <rosparam file="/home/applications/robot.yaml" command="load" ns="robot" />

  <node pkg="app_manager" type="appmaster" name="appmaster" args="-p 11312"/>

  <node pkg="app_manager" type="app_manager" name="app_manager" args="--applist $(find pr2_app_manager)/mock_apps;/home/applications/local_apps">
        <param name="interface_master" value="http://localhost:11312"/>
  </node>
</launch>
